/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
#comics table th,
#comics table td {
  padding: 0 1em;
}

/* Keep links from changing color after being clicked */
a, a:visited {
  color: #0366d6;
}

a:hover, a:focus {
  color: #024ea2;
  text-decoration: underline;
}

.no_underline a,
.no_underline a:visited,
.no_underline a:hover,
.no_underline a:focus {
  text-decoration: none !important;
  color: inherit;
}
